@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/* inicio, ajusta las fuentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* cuerpo, ajusta los botones en la pag y el color la pagina principal */
body {
  display: flex;
  border-style: double;
  border-radius: 10px;
  border-width: 10px;
  background: rgb(241, 139, 55);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

ul {
  position: relative;
}

ul li {
  list-style: none;
  text-align: center;
}

ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}

ul:hover li a {
  color: #0002;
  border-radius: 20px;
}
ul li:hover a {
  color: #000;
  background: rgb(255, 255, 255);
  border-radius: 20px;
}


h1{
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1800px;
  height: 1800px;
   font-size: 9.5em;
   color: rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   z-index: -1;
   opacity: 1;
   font-weight: 1000;
 }

/*Texto de fondo emergente*/
ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  /*text-transform: lowercase;*/
  letter-spacing: 500px;
  transition: letter-spacing 0.3s, left 0.3s;
}

/* pone el texto de fondo al estar encima de una opcion*/
ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1800px;
  height: 1800px;
}

/* pone los colores de fondo al estar encima de una opcion */
ul li:nth-child(6n + 1) a:before {
  background: #8183ec;
}
ul li:nth-child(6n + 2) a:before {
  background: #ff7675;
}
ul li:nth-child(6n + 3) a:before {
  background: #55ef9a;
}
ul li:nth-child(6n + 4) a:before {
  background: #0c8adf;
}

ul li:nth-child(6n + 5) a:before {
    background: #e74c4c;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #55ef9a;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}